One or more kernel tests failed:
{% if test_data.regressions %}
    ❗ Regression(s) detected:
    {% for test in test_data.regressions|sort(attribute="architecture,variant") %}
        {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }}
        {% for issue_occurrence in test.issues_occurrences %}
          {% if issue_occurrence.is_regression %}
                   Issue: {{ issue_occurrence.issue.description }}
                          {{ issue_occurrence.issue.ticket_url }}
                   Logs: {{ dw_url }}/kcidb/tests/{{ test.misc.iid }}
          {% endif %}
        {% endfor%}
    {% endfor %}

    Note: Any of these might not be a regression and/or we might have mistakenly thought this issue to be fixed.
          If it is not a regression, please ask the test maintainer to reopen the issue and untag the regression from this execution.

{% endif %}
{% if test_data.unknown_issues_tests %}
    Unrecognized or new issues:
    {% for test in test_data.unknown_issues_tests|sort(attribute="architecture,variant") %}
        {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }}
                   Logs: {{ dw_url }}/kcidb/tests/{{ test.misc.iid }}
        {% if test.subtests %}
            {% if test.skipped_subtests %}
                   Subtests skipped: {{ test.skipped_subtests|length }} out of {{ test.subtests|length }}
            {% endif %}
                   Non-passing subtests:
            {% for subtest in test.non_passing_subtests %}
                       {{ subtest.status|status_to_emoji }} {{ subtest.status }} {{ subtest.name }}
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endif %}
{% if test_data.known_issues_tests %}
    We also see the following known issues which are not related to your changes:
    {% for url, issue in test_data.known_issues.items() %}
        Issue: {{ issue.issue.description }}
            URL: {{ url }}
            Affected tests:
        {% for test in issue.tests|unique_test_descriptions()|sort(attribute="architecture,variant") %}
                {{ '%8s'|format(test.architecture) }}{{ " ({})".format(test.variant) if test.variant else "" }} - {{ test.comment }}
        {% endfor %}
    {% endfor %}

{% endif %}
