{% if checkout_data.result %}
Congratulations, no blocking failures detected!

You can find all the details about the test run at
    {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}

{% else %}
{% extends "base.j2" %}
{% block greeting %}
Hi, we tested your {{ checkout_data.checkout.patch_mboxes|yesno('patches,kernel') }} and here are the failures:
{% endblock %}

{% block head %}

{{ inc('failures') }}
You can find all the details about the test run at
    {{ dw_url }}/kcidb/checkouts/{{ checkout_data.checkout.misc.iid }}

{% endblock %}
{% endif %}
